@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ATLANT</h1>
    <p class="lead">This simple application is showing statistic of company work.</p>
    <p><a href="http://www.atlant.by/" class="btn btn-primary btn-large">Company official site &raquo;</a></p>
</div>
